@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  font-size: 100%;
  text-align: center;
  background-image: url("../images/books.jpg")
}

h3{
  font-size: 1.5rem;
}
label{
  font-size: 1.5rem;

  display: block;


}
.author{

}
#content, #favContent{
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    column-gap: 10px;

}
#forms-container{

  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  padding-bottom: 10px;
  background-color: white;
  ;

}

.book-container{
  margin-top: 10px;
  margin-bottom: 10px;

  background-color: white;
  border-radius: 25px;
}
h1,h2{
  color:white;

}
